<!DOCTYPE html>
<html>
<head>
    <title>Rice Disease Detection</title>
</head>
<body style="margin:0; font-family: Arial; background-image: url('/static/rice_bg.jpg.jpg'); background-size: cover; background-position: center; background-attachment: fixed;">
    <div style="width: 420px; margin: 80px auto; padding: 30px; text-align: center; background: rgba(0,0,0,0.7); color:white; border-radius: 15px;">
        <h2>🌾 Rice Disease Detection</h2>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required><br><br>
            <button style="padding:10px 20px; background:#4CAF50; color:white;">Predict</button>
        </form>
        {% if label %}
        <div style="margin-top:20px;">
            <h3>{{ label }}</h3>
            {% if confidence %}
            <h4>Confidence: {{ confidence }}%</h4>
            <h4>Model Accuracy: {{ accuracy }}%</h4>
            {% endif %}
            {% if treatment %}
            <h4>💊 Treatment:</h4>
            <p>{{ treatment }}</p>
            <h4>⚠️ Precautions:</h4>
            <p>{{ precaution }}</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</body>
</html>